{% extends "app/base.html.twig" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <section class="max-w-6xl mx-auto">
        <h1 class="h1 max-w-3xl mx-auto text-center pb-12">Homepage</h1>
    </section>
{% endblock %}
