{% extends "app/base.html.twig" %}

{% block body %}
    <section class="max-w-6xl mx-auto">
        <h1 class="h1 max-w-3xl mx-auto text-center pb-12" data-test="page-title">Welcome {{ app.user.username }} !</h1>

        <div class="max-w-sm mx-auto"></div>
    </section>
{% endblock %}
