{% extends "app/base.html.twig" %}

{% block body %}
    {% if restaurant is null %}
    <section class="max-w-6xl mx-auto">
        <div class="max-w-2xl mx-auto">
            <h1 class="font-bold text-3xl">Vous n'avez pas encore créé de restaurant.</h1>

            <a href="{{ path('app_restarurant_register') }}">Allons y !</a>

        </div>
    </section>
    {% else %}
    <section class="max-w-6xl mx-auto">
        <div class="max-w-2xl mx-auto">
            <h1 class="font-bold text-3xl">{{ restaurant.name }}</h1>
            <span>Créé le {{ restaurant.registeredAt|format_datetime }}</span>

            <div>
                <a href="{{ path('app_restaurant_update_name') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                </a>
            </div>

        </div>
    </section>
    {% endif %}
{% endblock %}
